<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    ÇindaSoft
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>

                <li><a href="/Admin/AdminDashboard/Index/" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>
                <li><a href="/Admin/AdminStatistics/Index/" class="waves-effect"><i class="fas fa-chart-line"></i><span>İstatislikler</span></a></li>
                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Araba İşlemleri</span></a></li>
                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-oil-can"></i><span>Araba Özellikleri</span></a></li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-chalkboard-teacher"></i><span>Siteye Dön</span></a></li>
                <li><a href="/AdminBrands/Index/" class="waves-effect"><i class="fas fa-cocktail"></i><span>Markalar</span></a></li>
                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="fab fa-connectdevelop"></i><span>Banner Alanı</span></a></li>
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fab fa-fort-awesome"></i><span>Hakkımızda</span></a></li>
                <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-gem"></i><span>Yazar İşlemleri</span></a></li>
                <li><a href="/Admin/AdminCatagory/Index/" class="waves-effect"><i class="fab fa-grav"></i><span>Blog Katagorileri</span></a></li>
                <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fab fa-modx"></i><span>Blog İşlemleri</span></a></li>
                <li><a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>Ödeme Türleri</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-comments"></i><span>Yorumlar</span></a></li>
                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="fas fa-phone-square"></i><span>Mesajlar</span></a></li>
                <li><a href="/Admin/AdminFooterAdres/Index/" class="waves-effect"><i class="fab fa-ravelry"></i><span>Alt Adres</span></a></li>
                <li><a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="fab fa-rocketchat"></i><span>Lokasyonlar</span></a></li>
                <li><a href="/Admin/AdminServices/Index/" class="waves-effect"><i class="fab fa-accusoft"></i><span>Hizmetler</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fab fa-facebook"></i><span>Sosyal Medya</span></a></li>
                <li><a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="fas fa-people-carry"></i><span>Referanslar</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fab fa-galactic-republic"></i><span>Etiket Bulutu</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fab fa-hornbill"></i><span>Ayarlar</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-door-open"></i><span>Çıkış Yap</span></a></li>


                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>